body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3e0066;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .navbar a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .navbar .logo {
    margin-left: 10px;
    font-size: 1.8em;
    font-weight: bold;
    color: white;
  }

  .navbar .menu {
    display: flex;
  }

  .navbar .menu a {
    margin: 0 10px;
    font-size: 20px;
  }

  .wrapper {
    text-align: center;
    margin-top: 80px;
    background-color: #8a2be2;
    padding: 40px;
    border-radius: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    margin-bottom: 30px;
  }

  .section h1 {
    font-weight: bold;
  }

  h1,
  h2,
  h3,
  p {
    color: white;
    margin: 0 0 20px 0;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.4em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
    line-height: 1.6;
  }

  .team-members,
  .mission,
  .vision {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
  }

  .team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .team-member {
    text-align: center;
    margin: 20px;
  }

  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }