body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3e0066;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .logo {
    margin-left: 10px;
    font-size: 1.8em;
    font-weight: bold;
    color: white;
}

.navbar .menu {
    display: flex;
}

.navbar .menu a {
    margin: 0 10px;
    font-size: 20px;
}

.wrapper {
    margin-top: 80px;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #8a2be2;
    border-radius: 15px;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.service-entry {
    background-color: #6200ea;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.service-entry img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.service-entry h2 {
    margin-top: 0;
}

.service-entry p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.service-entry a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.service-entry a:hover {
    text-decoration: underline;
}

.hidden-content {
    display: none;
    margin-top: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}